header.header {
    background-color: #1A5575;
    color: #FFF;
    padding: 0 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    position: relative; /* Necessário para o h3 com posição absoluta */
}

header.header h1 {
    font-size: 2.5em;
}

header.header i {
    padding-right: 10px;
    padding-top: 5px;
}

header.header #propsname {
    position: absolute;  /* Posiciona o conteúdo da div de forma relativa ao header */
    bottom: 0;           /* Alinha o h3 ao final do header */
    left: 0;             /* Ajusta a posição horizontal se necessário */
    width: 100%;         /* Para garantir que o conteúdo ocupe toda a largura */
    text-align: end;
}

header.header #name-header {
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-right: 2%;
}
